* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.width-full {
  width: 100%;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.pl-0 {
  padding-left: 0px;
}
.pr-0 {
  padding-right: 0px;
}
.pb-0 {
  padding-bottom: 0px;
}
.pt-0 {
  padding-top: 0px;
}

.pl-8 {
  padding-left: 8px;
}
.pr-8 {
  padding-right: 8px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pt-8 {
  padding-top: 8px;
}

.pl-14 {
  padding-left: 14px;
}
.pr-14 {
  padding-right: 14px;
}
.pb-14 {
  padding-bottom: 14px;
}
.pt-14 {
  padding-top: 14px;
}

.pl-16 {
  padding-left: 16px;
}
.pr-16 {
  padding-right: 16px;
}
.pb-16 {
  padding-bottom: 16px;
}
.pt-16 {
  padding-top: 16px;
}

.pl-20 {
  padding-left: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pt-20 {
  padding-top: 20px;
}

.pl-24 {
  padding-left: 24px;
}
.pr-24 {
  padding-right: 24px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pt-24 {
  padding-top: 24px;
}

@media only screen and (min-width: 300px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }

  .pl-sm-0 {
    padding-left: 0px;
  }
  .pr-sm-0 {
    padding-right: 0px;
  }
  .pb-sm-0 {
    padding-bottom: 0px;
  }
  .pt-sm-0 {
    padding-top: 0px;
  }

  .pl-sm-8 {
    padding-left: 8px;
  }
  .pr-sm-8 {
    padding-right: 8px;
  }
  .pb-sm-8 {
    padding-bottom: 8px;
  }
  .pt-sm-8 {
    padding-top: 8px;
  }

  .pl-sm-14 {
    padding-left: 14px;
  }
  .pr-sm-14 {
    padding-right: 14px;
  }
  .pb-sm-14 {
    padding-bottom: 14px;
  }
  .pt-sm-14 {
    padding-top: 14px;
  }

  .pl-sm-16 {
    padding-left: 16px;
  }
  .pr-sm-16 {
    padding-right: 16px;
  }
  .pb-sm-16 {
    padding-bottom: 16px;
  }
  .pt-sm-16 {
    padding-top: 16px;
  }

  .pl-sm-20 {
    padding-left: 20px;
  }
  .pr-sm-20 {
    padding-right: 20px;
  }
  .pb-sm-20 {
    padding-bottom: 20px;
  }
  .pt-sm-20 {
    padding-top: 20px;
  }

  .pl-sm-24 {
    padding-left: 24px;
  }
  .pr-sm-24 {
    padding-right: 24px;
  }
  .pb-sm-24 {
    padding-bottom: 24px;
  }
  .pt-sm-24 {
    padding-top: 24px;
  }

  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }

  .pl-md-0 {
    padding-left: 0px;
  }
  .pr-md-0 {
    padding-right: 0px;
  }
  .pb-md-0 {
    padding-bottom: 0px;
  }
  .pt-md-0 {
    padding-top: 0px;
  }

  .pl-md-8 {
    padding-left: 8px;
  }
  .pr-md-8 {
    padding-right: 8px;
  }
  .pb-md-8 {
    padding-bottom: 8px;
  }
  .pt-md-8 {
    padding-top: 8px;
  }

  .pl-md-14 {
    padding-left: 14px;
  }
  .pr-md-14 {
    padding-right: 14px;
  }
  .pb-md-14 {
    padding-bottom: 14px;
  }
  .pt-md-14 {
    padding-top: 14px;
  }

  .pl-md-16 {
    padding-left: 16px;
  }
  .pr-md-16 {
    padding-right: 16px;
  }
  .pb-md-16 {
    padding-bottom: 16px;
  }
  .pt-md-16 {
    padding-top: 16px;
  }

  .pl-md-20 {
    padding-left: 20px;
  }
  .pr-md-20 {
    padding-right: 20px;
  }
  .pb-md-20 {
    padding-bottom: 20px;
  }
  .pt-md-20 {
    padding-top: 20px;
  }

  .pl-md-24 {
    padding-left: 24px;
  }
  .pr-md-24 {
    padding-right: 24px;
  }
  .pb-md-24 {
    padding-bottom: 24px;
  }
  .pt-md-24 {
    padding-top: 24px;
  }

  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
}

@media only screen and (min-width: 900px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

  .pl-lg-0 {
    padding-left: 0px;
  }
  .pr-lg-0 {
    padding-right: 0px;
  }
  .pb-lg-0 {
    padding-bottom: 0px;
  }
  .pt-lg-0 {
    padding-top: 0px;
  }

  .pl-lg-8 {
    padding-left: 8px;
  }
  .pr-lg-8 {
    padding-right: 8px;
  }
  .pb-lg-8 {
    padding-bottom: 8px;
  }
  .pt-lg-8 {
    padding-top: 8px;
  }

  .pl-lg-14 {
    padding-left: 14px;
  }
  .pr-lg-14 {
    padding-right: 14px;
  }
  .pb-lg-14 {
    padding-bottom: 14px;
  }
  .pt-lg-14 {
    padding-top: 14px;
  }

  .pl-lg-16 {
    padding-left: 16px;
  }
  .pr-lg-16 {
    padding-right: 16px;
  }
  .pb-lg-16 {
    padding-bottom: 16px;
  }
  .pt-lg-16 {
    padding-top: 16px;
  }

  .pl-lg-20 {
    padding-left: 20px;
  }
  .pr-lg-20 {
    padding-right: 20px;
  }
  .pb-lg-20 {
    padding-bottom: 20px;
  }
  .pt-lg-20 {
    padding-top: 20px;
  }

  .pl-lg-24 {
    padding-left: 24px;
  }
  .pr-lg-24 {
    padding-right: 24px;
  }
  .pb-lg-24 {
    padding-bottom: 24px;
  }
  .pt-lg-24 {
    padding-top: 24px;
  }

  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }

  .pl-xl-0 {
    padding-left: 0px;
  }
  .pr-xl-0 {
    padding-right: 0px;
  }
  .pb-xl-0 {
    padding-bottom: 0px;
  }
  .pt-xl-0 {
    padding-top: 0px;
  }

  .pl-xl-8 {
    padding-left: 8px;
  }
  .pr-xl-8 {
    padding-right: 8px;
  }
  .pb-xl-8 {
    padding-bottom: 8px;
  }
  .pt-xl-8 {
    padding-top: 8px;
  }

  .pl-xl-14 {
    padding-left: 14px;
  }
  .pr-xl-14 {
    padding-right: 14px;
  }
  .pb-xl-14 {
    padding-bottom: 14px;
  }
  .pt-xl-14 {
    padding-top: 14px;
  }

  .pl-xl-16 {
    padding-left: 16px;
  }
  .pr-xl-16 {
    padding-right: 16px;
  }
  .pb-xl-16 {
    padding-bottom: 16px;
  }
  .pt-xl-16 {
    padding-top: 16px;
  }

  .pl-xl-20 {
    padding-left: 20px;
  }
  .pr-xl-20 {
    padding-right: 20px;
  }
  .pb-xl-20 {
    padding-bottom: 20px;
  }
  .pt-xl-20 {
    padding-top: 20px;
  }

  .pl-xl-24 {
    padding-left: 24px;
  }
  .pr-xl-24 {
    padding-right: 24px;
  }
  .pb-xl-24 {
    padding-bottom: 24px;
  }
  .pt-xl-24 {
    padding-top: 24px;
  }

  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
}
