.box-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}

.box {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 30px;
}

.box.pink {
  background-color: #f83c79;
}

.box.blue {
  background-color: #3483e8;
}

.box.orange {
  background-color: #ecbb52;
}

.box.green {
  background-color: #00f0bf;
}
