.container {
  padding: 0 1.5rem;
}

.users-list {
  display: flex;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.card-wrapper {
  display: flex;
  row-gap: 20px;
  column-gap: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.card-image {
  min-width: 300px;
  min-height: 300px;
  border-radius: 8px 8px 0px 0px;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-desc {
  word-wrap: break-word;
}

.information-card-wrapper {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 1rem;
}

.information-card {
  border: 1px solid gainsboro;
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  column-gap: 1.5rem;
  max-width: 800px;
}
