<div class="my-16">
  <div class="mb-8 flex justify-between">
    <p class="text-3xl font-bold">Movies List</p>
    <load ="/components/creationBtn/index.html" />
  </div>

  <div class="relative overflow-x-auto">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Movie Name</th>
          <th scope="col" class="px-6 py-3">Release Date</th>
          <th scope="col" class="px-6 py-3">Rate</th>
          <th scope="col" class="px-6 py-3">Price</th>
          <th scope="col" class="py-3"></th>
        </tr>
      </thead>
      <tbody id="movies-list-tbody"></tbody>
    </table>
  </div>
</div>

<load ="/components/editBtn/index.html" />

<script type="module" src="/components/movies/index.js"></script>
